 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>LOCALIZAÇÕES</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <table style="width:100%">
                       <tr>
                        <td>Município</td>
                        <td>Local</td>
                        <td>Endereço</td>
                       </tr>
                       <tr>
                        <td>Acopiara</td>
                        <td>ATN</td>
                        <td>Rua José Alves Moreira n°32 - Moreira 2</td>
                       </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
