    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div  class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div style="padding-top: 90px; margin-top: -90px;" id="page-top" class="intro-text">
                       <span style="font-size: 3em;" class="name">o projeto</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.skills }}</span>
                        <div style="">
                            <div style="margin: 0 auto; width: auto; padding-top: 20px;">
                                <div style="display: inline-block"><img class="img-responsive" src="img/1fase.png"/></div>
                                <div style="display: inline-block"><img class="img-responsive" src="img/2fase.png"/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>