
    <!-- Portfolio Grid Section -->
    <section style="background-color: #efefef;" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>CURSOS</h2>
                    <hr class="star-primary">
                </div>
            </div>
           <div class="col-lg-12">
               <div class="row">
                    <div>
                        <p>Os cursos da primeira fase serão ministrados nos telecentros da rede STDS e laboratórios de informática de escolas participantes na modalidade ensino híbrido, ou seja, mesclando o ensino presencial com o ensino à distância.</p>
                        <p>A parte do ensino realizada no computador prescinde a presencial. Nessa etapa o aluno estuda no seu ritmo, de maneira individual, através de atividades 100% interativas, com apoio do monitor dentro de sala.</p>
                        <img style="margin: 0 auto" class="img-responsive" src="img/modulos.png"/>
                        <p>Na parte presencial o monitor se torna responsável por propor atividades que valorizem a interações interpessoais. Aqui, o monitor pode propor trabalhos que envolvam toda a turma, apresentar temas para discussão, desenvolver atividades práticas, entre outras.</p>
                        <p>Apesar de serem momentos diferentes, o on-line e o presencial, o objetivo do aprendizado híbrido é que esses dois momentos sejam complementares e promovam uma educação mais eficiente, interessante.</p>
                        <p>Os cursos ofertados, abaixo discriminados, seguirão itinerário formativo:</br></p>
                        <i class="fa fa-chevron-right"></i>&nbsp&nbsp Inclusão Digital para o Empreendedor</br>
                        <i class="fa fa-chevron-right"></i>&nbsp&nbsp Empreendedorismo</br>
                        <i class="fa fa-chevron-right"></i>&nbsp&nbsp Mundo dos Micro e Pequenos Negócios</br>
                        <i class="fa fa-chevron-right"></i>&nbsp&nbsp Elaborando o Plano de Negócio</br>
                        <i class="fa fa-chevron-right"></i>&nbsp&nbsp Plano de Negócio</br></p>
                    </div>
               </div>
            </div>
           <!--  <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div> -->
        </div>
    </section>
